# Dependências
node_modules/

# Banco de dados local
*.sqlite
*.db

# Logs
logs/
*.log

# Configurações locais e variáveis de ambiente
.env
*.local
*.env.local

# Diretórios e arquivos de IDEs
.vscode/
!.vscode/extensions.json
.idea/
.vs/
*.suo
*.user
*.vsidx
.DS_Store

# Arquivos temporários e de cobertura de testes
coverage/
tmp/

# Scripts auxiliares
*.bat
*.ps1

# Arquivos de sistema
Thumbs.db
ehthumbs.db

# Docker (opcional)
docker-compose.yml